.main-container{
    background-color: #e1e1e3;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


@media (min-width: 550px) and (max-width: 900px) {
    .Test-NamaPeserta h1{
        color: black;
    }
    .hasilSkor{
        background-color: #e0e0e0;
        height: 50px;
        width: 100px;
    }
    .Test-Number{
        width: 100%;
        height: 25vh;
        background-color: aqua;
        display: flex;
    }
    .Test-NamaDanNumber{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .Test-NamaPeserta{
        background-color: rgb(238, 238, 238);
        height: 50px;
    }
    .Test-NamaPeserta h1{
        font-size: 20px;
        padding-left: 20px;
    }
    .Test-Nomor{
        width: 100%;
        height: 100%;
        background-color: rgb(0, 136, 255);
        display: flex;
        flex-wrap: wrap;
    }
    .Test-Timer{
        height: 60%;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Test-Timer h1{
        font-size: 3rem;
    }
    .Test-Timer-Wrapper{
        display: flex;
        flex-direction: column;
        width: 20%;
        background-color: rgb(255, 255, 255);
    }
    .Test-Soal{
        width: 100%;
        height: 50vh;
        background-color: rgb(255, 255, 255);
    }
    .Test-Option{
        width: 100%;
        height: 15vh; 
        background-color: aquamarine;  
        display: flex;
    }
    .box-opsi{
        width: 100%;
        height: 100%;
        background-color: bisque;
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        left: 0;

    }
    .box-opsi h3{
        font-size: 1.3rem;
    }
    .box-opsi-wrapper{
        width: 100%;
        background-color: aliceblue;
        margin-top: 50px;
    }
    .Test-Save{
        width: 100%;
        height: 10vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Test-Tombol{
        background-color: rgb(186, 196, 219);
        width: 350px;
        height: 50px;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9px;
    }
    .box-opsi {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 5px 20px;
        cursor: pointer;
        margin: 5px;
        border-radius: 5px;
        text-align: center;
        transition: background-color 0.3s, color 0.3s;
    }
    .box-opsi:hover {
        background-color: #e0e0e0;
    }
    .box-opsi.selected {
        background-color: red; /* Change color when selected */
        color: white;
    }
    .button-number {
        width: 25px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: #e1e1e3;
        color: black;
        cursor: pointer;
    }
    .Btn-Number {
        width: 50px;
        height: 25px;
        background-color: rgb(255, 0, 0); /* Warna dasar merah */
        display: flex;
        justify-content: center;
        border: 0px solid black;
        transition: background-color 0.3s;
    }
    
    .Btn-Number.answered {
        background-color: green; /* Warna hijau saat soal sudah dijawab */
    }
    .box-opsi.selected {
        background-color: red; /* Warna merah untuk opsi yang dipilih */
    }
    
    .box-opsi.answered {
        background-color: green; /* Warna hijau untuk opsi yang sudah dijawab */
    }
    .correct-answer {
        background-color: red;
        color: white;
    }
    #timerId{
        color: black;
    }
    .Soal-json h2{
        color: black;
    }
    
}    